.settings {
    border: 1px solid red;
    padding: 0 0.8rem;
}

.header{
    margin-bottom:  0.8rem;
    text-align: left;
}

.title{
    font-size: 2.5rem;
}
.settings-list{

}

.settings-item{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.35rem;
}
.item-icon-left{
    margin-right: 1rem;
}
.item-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.item-title{
    font-size: 1.35rem;
}