*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 62.5%;
}
i {
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
}
input{
    width: 100%;
    height: 2.5rem;
    border-radius: 15px;
    padding: 0.8rem;
    font-size: 2rem;
    color: rgb(63, 61, 61);
    font-weight: 400;
    border: 1px solid #ccc;
    outline: none;
}
img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}