.chats {
   border: 1px solid red;
   padding: 0 0.8rem;
}
.header{
    margin-bottom:  0.8rem;
    background-color: gray;
}
.header img {
    cursor: pointer;
}
.header-nav{
    display: none;
    visibility: hidden;
}
.content{
    max-height: 50rem;
}
.contact {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #fff;
    cursor: pointer;
}
.small{
    width: 2rem;
    height: 2rem;
}
.large{
    width: 4rem;
    height: 4rem;
}
.avatar{
    border-radius: 50%;
    border: 1px solid #000;
}
.contact-info{
    margin: 0 0.4rem;
    border-bottom: 1px solid #eee;
}
.chat-preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chat-single{
    display: flex;
    justify-content: space-between;
}
.contact-info span {
    display: block;
    font-size: 1rem;
}

.contact-name {
    font-weight: bold;
    margin-bottom: 0.35rem;
}
.text {
    color: #000;
    opacity: 0.7;
    text-align: left;
    line-height: 1.2;
    text-overflow: ellipsis;
}