.auth-header{
    text-align: left;
    height: 2rem;
    margin-bottom: 2rem;
    background-color: red;
}
.tab {
    display: none;
}

.field .input{
    padding: 0;
    border: none;
    border-bottom: 2px solid lawngreen;
}
.field textarea{
    border: none;
    border-bottom: 2px solid lawngreen;
}
.character-left{
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
}
.button{
    margin-top: 2rem;
}
.btn {
    padding: 0.5rem 2.5rem;
    outline: none;
    border: 1px solid #eee;
}
.btn-secondary{
    background-color: lawngreen;
}